@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

* {
  font-family: "Nunito", sans-serif;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 18s linear infinite;
}

@media (max-width: 640px) {
  .animate-slide {
    animation: slide 10s linear infinite;
  }
}

.animate-slide:hover {
  animation-play-state: paused;
}
